<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/users/shared/navbar' %>

    <div class="columns">
      <div class="column is-one-quarter has-background-grey-light">
        <%= render partial: 'layouts/users/shared/sidebar' %>
      </div>
      <div class="column">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
